
<div class="banner">
  <div class="banner-content">
    <h1>Best Cocktails</h1>
    <p>Discover the best cocktails in town</p>
    <h2><%= link_to "Add a new cocktail", new_cocktail_path(@cocktail), class: "btn btn-primary" %></h2>  </div>
</div>


<h1 class="text-center">List of all cocktails</h1>



<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
  <p><ul>
    <% cocktail.doses.each do |dose| %>
      <li><strong><%= dose.ingredient.name.upcase %></strong> :
      <%= dose.description %></li>
    <% end %>
  </ul>
  </p>
<% end %>
