<div class="banner">
  <div class="formulaire">
    <h2 class="text-center">Enter your cocktail's Information</h2>

    <div>
      <%= render "form" %>

      <div class="text-center">
        <p><%= link_to "Cancel", cocktails_path(@cocktail), class: "btn btn-danger" %></p>
      </div>
    </div>
  </div>
</div>
