.title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}

.card {
  height: 210px;
  background-size: cover !important;
  position: relative;
  margin: 10px 0 20px;
  border-radius: 5px;
  padding: 3px;
}

.card-title {
  position: absolute;
  top: 18px;
  width: 100%;
  text-decoration: none;
  color:#E4E4E4;
  font-family: 'Chewy', cursive;
  font-weight: lighter;
  font-size: 28px;
}

.card-title:hover {
  color:white;
  text-decoration: none;
}

.card-description {
  position: absolute;
  top: 70px;
  left: 10px;
  color:#E7E7E7;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-update {
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 10px;
  color: #555555;
  opacity: 0.8
}

.cocktail-card {
  padding: 20px;
  border: 1px dashed #999999;
  margin: 30px;
  border-radius: 3px;
}

.cocktail-doses li {
  list-style: none;
}

.cocktail-image {
  img {
    border-radius: 20px;
    opacity: 0.9;
    width: 80%;
    max-width: 250px;
  }
}

// @media (max-width: 900px) {
//   .cocktail-image {
//     img {
//       width: 30%;
//     }
//   }
// }
